{block #content}
{control mainPanel}
<div id="page-container" class="container-fluid">

	<div class="col-lg-2">
		{control modulesNavigation}
	</div>
	<div class="col-lg-10">
		{control container}
	</div>

</div>
