{form form}
	<p class="alert alert-danger" n:foreach="$form->errors as $error">{$error}</p>
	<div class="form-group">
		<input n:name="login" class="form-control" placeholder="Your login" autofocus autocomplete="off"
			   tabindex="1"/>
	</div>
	<div class="form-group">
		<input n:name="password" class="form-control" placeholder="Your password" tabindex="2"/>
	</div>
	<div class="form-group">
		<input n:name="submit" class="btn btn-primary btn-block"/>
	</div>
{/form}
